<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>每日工作</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <h3 style="padding:30px;text-align: center">添加每日工作项目</h3>
    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-offset-3 col-sm-2 control-label">工作事项描述</label>
                <div class="col-sm-4">
                    <textarea id="workDesc" placeholder="请输入工作事项" class="form-control" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="json" class="col-sm-offset-3 col-sm-2 control-label">负责人</label>
                <div class="col-sm-4">
                    <select class="form-control" id="author">
                        <% for (var i=0;i<authors.length;i++) {%>
                        <option value="<%=authors[i].id%>"><%=authors[i].name%></option>
                        <%}%>
                    </select> 
                </div>

            </div>
            <div class="form-group">
                <label for="misc" class="col-sm-offset-3 col-sm-2 control-label">完成进度</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="cProgress" placeholder="请输入昨天进度" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="misc" class="col-sm-offset-3 col-sm-2 control-label">备注</label>
                <div class="col-sm-4">
                    <textarea id="remark" placeholder="备注" class="form-control" ></textarea>
                </div>
            </div>
            <div class="col-sm-offset-4 col-sm-6">
                <a class="btn btn-default col-xs-2" href="/" role="button" id="back_btn">返回</a>
                <button type="submit" class="btn btn-primary col-sm-3 col-sm-offset-2" id="confirm_btn">提交</button>
            </div>
        </form>
    </div>
</body>

</html>
<script type="text/javascript" src="/bower_components/notie/notie.js"></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
    $('form').submit(function(e) {
        e.preventDefault();
        var _data = {
            workDesc: $("#workDesc").val(),
            author: $("#author").val(),
            cProgress: $("#cProgress").val(),
            remark: $("#remark").val()
        };
        $.ajax({
                cache: true,
                url: '/daily/add',
                type: 'POST',
                dataType: 'json',
                data: _data,
            })
            .success(function(data) {
                // console.log(data.errMsg);
                notie.alert(1, data.errMsg, 2);
            })
            .error(function() {
                // console.log('error');
                notie.alert(3, data.errMsg, 2);
            })
            .complete(function() {
                // console.log("complete");
            });
    });
});
</script>
